<% @post.comments.each do |comment| %>
	<div class="card">
	  <div class="card-body">
	  	<p class="card-text"><%= comment.rating %></p>
	    <h6 class="card-title">Card title</h6>
	    <footer class="blockquote-footer">
				by <cite>
					<%= @post.user.name %>
					<%= time_ago_in_words(@post.created_at) %> ago
				</cite>
				<% if user_signed_in? %>
					<%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
				<% end %>
			</footer>
			<hr>
	  </div>
	</div>
<% end %>