<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-content d-flex flex-column justify-content-center align-items-center">
				<p>&copy; 2018 by VITA | All Rights Reserved.</p>
				<div class="footer-social-icon">
					<a href="https://www.facebook.com/shela.hsieh", target= "_blank"><i class="fab fa-facebook"></i></a>
					<a href="https://github.com/showlovezz" , target= "_blank"><i class="fab fa-github-square"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>