// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// basic setting
body{
	background-color: $color_bg_body;
}

// navbar
nav{
	> .navbar-brand{
		> i{
			font-size: 26px;
			font-weight: bold;
		}
		> i:hover{
			color: $color_navbar;
		}
	}
}

nav{
	> .collapse{
		> .navbar-nav{
			> .nav-item{
				> .nav-link{
					color: $color_light_text;
				}
				> .nav-link:hover{
					color: $color_navbar;
				}
			}
		}
	}
}

//jumbotron
.jumbotron{
	padding-top: 39px;
	padding-bottom: 39px;
	background-color: $color_bg_jumbotron;
	color: $color_light_text;
}

// muse index
#muse_index{
	> .container{
		> .row{
			> .col-6{
				> .card{
					padding: 10px 10px 5.5px 10px;
					border-radius: 0;
					box-shadow: 4px 4px 12px $color_shadow;
					position: relative;
					> .card-img-top{
						height: 157px;
						border-radius: 0;
					}
					> .content{
						position: absolute;
						padding: 10px;
						opacity: 0;
						> h6{
							margin-bottom: 3px;
							color: $color_dark_text;
						}
						> p{
							margin-bottom: 0;
							color: $color_icon;
							font-size: 14px;
						}
					}
					> .card-body{
						padding: 0;
						> .card-text{
							> p{
								margin-top: 5.5px;
								margin-bottom: 0;
								color: $color_icon;	
								> i{
									margin-left: 5px;
								}
							}
							> p:nth-child(2){
								margin-left: 25px;
							}
						}
					}
				}
				> h6{
					margin-top: 7px;
					margin-bottom: 20px;
				}
				> .card:hover{
					box-shadow: 0px 3px 3px $color_shadow;
			    transform: translateY(-7px);
			    transition-duration: 1s;
					> .card-img-top{
						opacity: 0.1;
					}
					> .content{
						opacity: 1;
					}
				}
			}
		}
	}
}

// muse show
#muse_show{
	margin-bottom: 40px;
	> .container{
		> .row{
			> .col-10{
				> .row{
					background-color: $color_light_text;
					margin-top: 20px;
					border-radius: 10px;
					padding: 15px 15px 10px 15px;
					> .col-sm-12{
						padding-left: 0;
						padding-right: 0;
						margin-bottom: 16px;
						> h3{
							margin-bottom: 0px;
						}
					}
					> .col-sm-8{
						padding-left: 0;
						> h5{
							margin-bottom: 16px;
						}
						> .card{
							margin-bottom: 5px;
							border: 0px;
							> .card-body{
								padding-top: 0;
								padding-bottom: 10px;
								> p{
									margin-bottom: 0;
								}
								> h6{
									margin-top: 5px;
									margin-bottom: 5px;
								}
								> hr{
									margin-top: 5px;
									margin-bottom: 5px;
								}
							}
						}
					}
					> .col-sm-4{
						padding-right: 0;
						> ul{
							> li{
								> .mybtn{
									text-decoration: none;
									border: 1px solid $color_dark_text;
									color: $color_icon;
									border-radius: 5px;
									padding: 10px 92px;
									transition: 0.5s;
								}
								> .mybtn:hover{
									background-color: $color_dark_text;
									color: $color_bg_body;
								}
								> .icon{
									color: $color_icon;
									text-decoration: none;
									margin-left: 10px;
								}
								> .icon:hover{
									color: $color_dark_text;
								}
								> p{
									margin-bottom: 0;
									color: $color_icon;
									> i {
										color: $color_icon;
										margin-left: 15px;
										margin-right: 1px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// muse form
#muse_form{
	margin-bottom: 30px;
	> .container{
		> .row{
			> .col-10{
				background-color: $color_light_text;
				margin-top: 30px;
				padding: 15px;
				border-radius: 5px;
				.form-group{
					.form-control, .custom-file-label{
						background-color: $color_bg_body;
					}
				}
			}
		}
	}
}

// sign up
#sign_up, #lon_in{
	> .container{
		> .row{
			> .col-4{
				background-color: $color_light_text;
				margin-top: 50px;
				padding: 15px;
				border-radius: 5px;
				.form-group{
					.form-control{
						background-color: $color_bg_body;
					}
				}
			}
		}
	}
}

// edit account
#edit{
	> .container{
		> .row{
			> .col-sm-8{
				background-color: $color_light_text;
				margin-top: 10px;
				padding: 15px;
				border-radius: 5px;
				.form-group{
					.field{
						.form-control{
							background-color: $color_bg_body;
						}
					}
				}
			}
		}
	}
}

// footer
.footer{
	background-color: $color_dark_text;
	color: $color_light_text;
	> .container{
		> .row{
			> .footer-content{
				height: 100px;
				width: 100%;
				> p{
					margin-bottom: 5px;
				}
				> .footer-social-icon{
					> a{
						color: $color_light_text;
						font-size: 18px;
					}
					> a:nth-child(2){
						margin-left: 15px;
					}
				}
			}
		}
	}
}

